*~
*.aux
*.log
*.pdf
*.ids
*.jax
*.oc
*.out
ximera.cls
xourse.cls
*.sagetex.sage
*.synctex
*.bbl
*.blg
*.toc
*.cls
*.synctex\(busy\) 
*.synctex.gz
*.fdb_latexmk
*.fls
*.html.bak
*.idv
*.log
*.tmp
*.xref
*.4tc
*.4ct
*.idv
*.dpth
*.md5
*.png
*.svg
*.xbb
*.auxlock
*.dvi
*.html
*.lg
*.jason
*#
*.py
*.sout
*.scmd


mypdflatex
gpgkey

# Ignore all `auto'-generated directories
auto/
