*~
*.aux
*.log
*.pdf
*.ids
*.jax
*.oc
*.out
ximera.cls
xourse.cls
*.sagetex.sage
*.synctex
*.bbl
*.blg
*.toc
*.cls
*.synctex\(busy\) 
*.synctex.gz
*.fdb_latexmk
*.fls

# Ignore all `auto'-generated directories
auto/
